* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  display: grid;
  grid-template-rows: auto-flow;
  grid-template-columns: minmax(1rem, 1fr) minmax(600px, 1000px) minmax(
      1rem,
      1fr
    );
  /* grid: auto-flow / minmax() minmax() minmax(); */
  grid-row-gap: 5rem;
}

p {
  margin-bottom: 3rem;
}

header,
footer {
  background: grey;
  color: white;
  padding: 2rem;

  /* Start at the beginning of the first column and span all the way to the end of the
  last column */
  grid-column: 1 / -1;
}

.card {
  grid-column: 2;
  display: grid;
  grid: auto-flow / 300px 1fr;
  grid-gap: 2rem;
  background: pink;
}

.card-body {
  position: sticky;
  top: 12rem;
  align-self: start;
}
.card-title {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}
